In [1]:
score = 66
print("⼤明的數學成績：%d" % score)
print("%5s的數學成績：%5.2f" %("Jenny", 95))
print("%5s的數學成績：%5.2f" %("Andy", 80.2))
print("{0}今年{1}歲。" .format("王⼩明" , 18))
print("{name}今年{age}歲。" .format(name = "王⼩明" , age = 18))
name = input("請輸入姓名")
chinese_grade = input("請輸入國⽂成績")
english_grade = input("請輸入英⽂成績")
print("{0:8}{1:>5}{2:>5}" .format("姓名","國⽂","英⽂"))
print("{0:<10}{1:>6}{2:>6}" .format(name,chinese_grade,english_grade))

⼤明的數學成績：66
Jenny的數學成績：95.00
 Andy的數學成績：80.20
王⼩明今年18歲。
王⼩明今年18歲。
請輸入姓名大明
請輸入國⽂成績60
請輸入英⽂成績70
姓名         國⽂   英⽂
大明            60    70

In [2]:
8 + 7
8 - 7
8 * 7
8 / 7
8 ** 2
8 % 7

1

In [3]:
8 / 7.0
8 + (8 + 7j)
"---"
type(8 / 7.0)
type(8 + (8 + 7j))
type("---")

str

In [4]:
x = "5"
num = 5 + int(x)
print(num)

10

In [5]:
x = "5.3"
num = 5 + float(x)
print(num)

10.3

In [6]:
x = "5.3"
num = 5 + float(x)
print("輸出的數值是" + str(num))

輸出的數值是10.3

In [8]:
8 == 7
8 != 7
8 > 7
8 < 7
8 > 7

True

In [10]:
True and True
True and False
False & True
False & False
print("---")
True or True
True or False
False | True
False | False
print("---")
print (not True)
print (not False)

---
---
False
True

In [11]:
8 + True
8 - False
8 * False
8 / True

8.0

In [12]:
True == 1
True == 1.0
True == 1 + 0j
print("---")
False == 0
False == 0.0
False == 0 + 0j

---

True

In [13]:
'I am loving it!'

'I am loving it!'

In [14]:
'I\'m loving it!'

"I'm loving it!"

In [15]:
'I don\'t think you\'ll ever be just "anybody".'

'I don\'t think you\'ll ever be just "anybody".'

In [16]:
"I don't think you'll ever be just \"anybody\"."

'I don\'t think you\'ll ever be just "anybody".'

In [17]:
str1 = "Hello!" + "How Are You?"
print(str1)

Hello!How Are You?

In [18]:
str2 = "Hello!" * 3
print(str2)

Hello!Hello!Hello!

In [19]:
str3 = "Hello!\nHow Are You?"
print(str3)

Hello!
How Are You?

In [21]:
print ("I'm" + " loving" + " it!")

I'm loving it!

In [22]:
print ("I'm loving it" + "!" * 3)

I'm loving it!!!

In [23]:
str = "ABCDEFGHIJK"
print(str[0])
print(str[-2])

A
J

In [24]:
str = "ABCDEFGHIJK"
print(str[:7:2])
print(str[2::2])
print(str[::2])

ACEG
CEGIK
ACEGIK

In [25]:
str1 = "Do \none \nthing \nat a time!"
print(str1.split())
print(str1.split( ' ', 2 ))

['Do', 'one', 'thing', 'at', 'a', 'time!']
['Do', '\none', '\nthing \nat a time!']

In [26]:
str = "The first wealth is health! Health is important!"
print ("{},長度是{}" .format(str, len(str)))
print(str.upper())
print(str.lower())
print("health".capitalize())

The first wealth is health! Health is important!,長度是48
THE FIRST WEALTH IS HEALTH! HEALTH IS IMPORTANT!
the first wealth is health! health is important!
Health

In [28]:
str.lower()

'the first wealth is health! health is important!'

In [29]:
str.count("health")

1

In [30]:
str.strip("h!")

'The first wealth is health! Health is important'

In [31]:
str.replace("important", "重要")

'The first wealth is health! Health is 重要!'

In [37]:
from datetime import date
sys_date = date.today()
print (sys_date)

2018-11-08

In [36]:
from datetime import date
start_of_2017 = date(2017, 1, 1)
end_of_2017 = date(2017, 12, 31)
start_of_2017
end_of_2017

datetime.date(2017, 12, 31)

In [38]:
from datetime import date
start_of_2017 = date(2017, 1, 1)
start_of_2018 = start_of_2017.replace(year = 2018)
start_of_2018

datetime.date(2018, 1, 1)

In [39]:
from datetime import date
start_of_2017 = date(2017, 1, 1)
end_of_2017 = start_of_2017.replace(month = 12, day = 31)
days_dff = end_of_2017 - start_of_2017
days_dff.days

364

In [40]:
from datetime import time
sleep_time = time(23, 0, 0)
sleep_time
type(sleep_time)

datetime.time

In [41]:
from datetime import time
sleep_time = time(23, 0, 0)
wake_up_time = sleep_time.replace(hour = 7)
wake_up_time

datetime.time(7, 0)

In [42]:
from datetime import datetime
sys_datetime = datetime.now()
sys_datetime
type(sys_datetime)

datetime.datetime

In [43]:
from datetime import datetime
start_of_2017 = datetime(2017, 1, 1, 0, 0, 0)
start_of_2017

datetime.datetime(2017, 1, 1, 0, 0)

In [44]:
from datetime import datetime
start_of_2017 = datetime(2017, 1, 1, 0, 0, 1)
end_of_2017 = start_of_2017.replace(month = 12, day = 31, hour = 23, minute = 59, second = 59)
end_of_2017

datetime.datetime(2017, 12, 31, 23, 59, 59)

In [45]:
from datetime import datetime
start_of_2017 = datetime(2017, 1, 1, 0, 0, 1)
end_of_2017 = start_of_2017.replace(month = 12, day = 31, hour = 23, minute = 59, second = 59)
date_time_diff = end_of_2017 - start_of_2017
date_time_diff.days
date_time_diff.seconds

86398

In [48]:
starring_1 = "Jennifer Aniston"
starring_2 = "Courteney Cox"
starring_3 = "Lisa Kudrow"
starring_4 = "Matt LeBlanc"
starring_5 = "Matthew Perry"
starring_6 = "David Schwimmer"

starrings = ["Jennifer Aniston", "Courteney Cox", "Lisa Kudrow", "Matt LeBlanc", "Matthew Perry", "David Schwimmer"]
starrings

['Jennifer Aniston',
 'Courteney Cox',
 'Lisa Kudrow',
 'Matt LeBlanc',
 'Matthew Perry',
 'David Schwimmer']

In [54]:
#例⼀
genre = "sticom"
no_of_episodes = 236
still_airing = False
friends = [genre, no_of_episodes, still_airing]
friends
type(friends)

list

In [56]:
#例⼆
team_name = "Chicago Bulls"
wins = 72
losses = 10
win_percentage = wins / (wins + losses)
is_champion = True

chicago_bulls = [team_name, wins, losses, win_percentage, is_champion]

In [63]:
starrings = ["Jennifer Aniston", "Courteney Cox", "Lisa Kudrow", "Matt LeBlanc", "Matthew Perry", "David Schwimmer"]
starrings[0]
starrings[-1]
starrings[:3]
starrings[3:]

['Matt LeBlanc', 'Matthew Perry', 'David Schwimmer']

In [64]:
genre = "sitcom"
no_of_episodes = 236
still_airing = False
friends = [genre, no_of_episodes, still_airing]
type(friends[0])
type(friends[1])
type(friends[2])

bool

In [67]:
# 例⼀
team_name = "Chicago Bulls"
wins = 72
losses = 10
win_percentage = wins / (wins + losses)
is_champion = True

chicago_bulls_list = [team_name, wins, losses, win_percentage, is_champion]
chicago_bulls_tuple = (team_name, wins, losses, win_percentage, is_champion)
#或 chicago_bulls_tuple = tuple(chicago_bulls_list)

# 例⼆
# 使⽤ tuple 函數
starrings_list = ["Jennifer Aniston", "Courteney Cox", "Lisa Kudrow", "Matt LeBlanc", "Matthew Perry", "David Schwimmer"]
starrings_tuple = tuple(starrings_list)
starrings_tuple
type(starrings_tuple)

# 使⽤⼩括號
starrings_tuple = ("Jennifer Aniston", "Courteney Cox", "Lisa Kudrow", "Matt LeBlanc", "Matthew Perry", "David Schwimmer")
starrings_tuple
type(starrings_tuple)

# list 可以新增
starrings_list = ["Jennifer Aniston", "Courteney Cox", "Lisa Kudrow", "Matt LeBlanc", "Matthew Perry"]
starrings_list.append("David Schwimmer")
starrings_list

['Jennifer Aniston',
 'Courteney Cox',
 'Lisa Kudrow',
 'Matt LeBlanc',
 'Matthew Perry',
 'David Schwimmer']

In [68]:
# 使⽤ set 函數
gender_list = ["female", "female", "female", "male", "male", "male"]
gender_set = set(gender_list)
gender_set
type(gender_set)

set

In [69]:
# 使⽤⼤括號建立
gender_set = {"female", "female", "female", "male", "male", "male"}
gender_set
type(gender_set)

set

In [71]:
animal = {"bird" , "cat" , "dog" }
animal.add("fish")
print(animal)

animal.remove("cat")
print(animal)

animal.update({"bird", "monkey"})
print(animal)

print("fish" in animal)
print("monkey" in animal)

zooA ={"bird" , "cat" , "dog" , "pig"}
zooB ={"wolf" , "cat", "dog" , "turtle"}
print(zooA & zooB)
print(zooA | zooB)
print(zooA - zooB)
print(zooA ^ zooB)

{'dog', 'cat', 'bird', 'fish'}
{'dog', 'bird', 'fish'}
{'bird', 'fish', 'monkey', 'dog'}
True
True
{'cat', 'dog'}
{'cat', 'pig', 'wolf', 'turtle', 'bird', 'dog'}
{'pig', 'bird'}
{'bird', 'wolf', 'pig', 'turtle'}

TypeError: 'set' object does not support indexing

In [73]:
#例⼀
team_name = "Chicago Bulls"
wins = 72
losses = 10
win_percentage = wins / (wins + losses)
is_champion = True
chicago_bulls = {
 "team_name": team_name,
 "wins": wins,
 "losses": losses,
 "win_percentage": win_percentage,
 "is_champion": is_champion
}
#例⼆
friends_dict = {
 "genre": "sitcom",
 "seasons": 10,
 "episodes": 236,
 "starrings": ["Jennifer Aniston", "Courteney Cox", "Lisa Kudrow", "Matt LeBlanc", "Matthew Perry", "David Schwimmer"]
}
type(friends_dict)

dict

In [74]:
dic = {"name": "Andy", "age":18, "city":"台北"}

dic.clear()
print(dic)

dicA = {"name": "Andy", "age":18, "city":"⾼雄"}
dic = dicA.copy()
print(dic)

dic.get("age")
dic.pop("city")

dic.update(dicA)
print(dic)

print(dic.items())
print(dic.keys())
print(dic.values())

{}
{'name': 'Andy', 'age': 18, 'city': '⾼雄'}
{'name': 'Andy', 'age': 18, 'city': '⾼雄'}
dict_items([('name', 'Andy'), ('age', 18), ('city', '⾼雄')])
dict_keys(['name', 'age', 'city'])
dict_values(['Andy', 18, '⾼雄'])

In [75]:
friends_dict = {
 "genre": "sitcom",
 "seasons": 10,
 "episodes": 236,
 "starrings": ["Jennifer Aniston", "Courteney Cox", "Lisa Kudrow", "Matt LeBlanc", "Matthew Perry", "David Schwimmer"]
}
friends_dict["genre"]
friends_dict["seasons"]
friends_dict["episodes"]
friends_dict["starrings"]

['Jennifer Aniston',
 'Courteney Cox',
 'Lisa Kudrow',
 'Matt LeBlanc',
 'Matthew Perry',
 'David Schwimmer']